div#search{
    align-items: center;
    background-color: #F9F9F9;
    display: flex;
    flex: 1;
    height: 48px;
    padding: 0 32px;
    width: calc(100% - 220px);
}

div#search svg{
    fill: #707070;
    height: 48px;
    margin-right: 8px;
    width: 16px;
}

div#search form{
    width: 100%;
}

div#search input{
    background-color: transparent;
    color: #333333;
    flex: 1;
    font-family: 'SegoeUI';
    font-size: 14px;
    height: 48px;
    width: 100%;
}

div#search input::-webkit-input-placeholder {
    color: #808080;
}
div#search input::-moz-placeholder {
    color: #808080;
}
div#search input:-ms-input-placeholder {
    color: #808080;
}
div#search input:-moz-placeholder {
    color: #808080;
}

@media only screen and (max-width: 770px){
    div#search{
        width: 100%;
        padding: 0 15px;
    }

    div#search svg{
        margin-right: 19px;
    }
}